<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Работа с пользователями</title>
</head>
<body>
<h1>Список пользователей</h1>
<p>Пользователей нет</p>
<h1>Добавить нового пользователя</h1>
<form class="add-form">
    <input type="text" name="name" placeholder="введите имя" />
    <input type="submit" value="Сохранить" />
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  $(function() {
    $('.add-form').on('submit', (e) => {
      e.preventDefault();
      $.ajax({
        method: 'post',
        url: '/users/',
        data: $(e.target).serialize(),
        dataType: 'json'
      }).done((data) => {
        if (data.status === 'ok') {
          window.location.href = window.location.href;
        } else {
          alert('Ошибка при создании пользователя');
        }
      })
    });

  });
</script>
</body>
</html>